/* body

{
    background-color: rgb(56, 212, 212); 

}
*
{
    background-color: rgb(56, 212, 212); 
}

nav
{
    background-color: rgb(56, 212, 212); 
}

nav
{
    font-size:medium
color: black;
font-family: Helvetica, Arial, sans-serif
} */