/* body
{
    background-color: rgb(56, 212, 212); 

}
*
{
    background-color: rgb(56, 212, 212); 
}

nav
{
 font-size:medium
color: black;
font-family: Helvetica, Arial, sans-serif
}

@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    } */